body {
    width: 300px;
    height: 300px;
}
.header {
    height: 50px
}

.header>h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.card {
    width: 250px;
    margin-left: 25px;
    margin-right: 25px;
}

.card > .card_content {
    text-align: center;
}

.description-header {
    margin-left: 15px;
}
.description {
    font-size: 1rem;
    color: #888;
    text-align: left;
}
