.options_item:not(:last-child) {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

.options_item > h2 {
    font-size: 1.6rem;
    color: #444;
}

.options_item > form > input[type=radio] {
    display: none;
}

.options_item > form > label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 3em;
    font-size: 1.2em;
    line-height: 3em;
    color: #ccc;
    border: 1.6px solid #ccc;
    border-radius: 0.4em;
    padding-left: 3.2em; 
    margin-bottom: 5px;
    position: relative;
}

.options_item > form > label:hover {
    background-color: #eee;
}

.options_item > form > input[type=radio]:checked + label {
    color: var(--main-color);
    border: 1.6px solid var(--main-color);
}

.options_item > form > label:before {
    position: absolute;
    display: block;
    width: 1.6em;
    height: 1.6em;
    top: 0.6em;
    left: 1em;
    content: "";
    box-sizing: border-box;
    border: 2.4px solid #ccc;
    border-radius: 50%;
}

.options_item > form > input[type=radio]:checked + label:before {
    border: 2.4px solid var(--main-color);
}

.options_item > form > input[type=radio]:checked + label:after {
    position: absolute;
    display: block;
    width: 0.8em;
    height: 0.8em;
    top: 1em;
    left: 1.4em;
    content: "";
    background-color: var(--main-color);
    border-radius: 50%;
}

#save_status {
    display: inline-block;
    color: #32cd32;
    font-size: 0.8rem;
    margin-left: 10px;
    position: relative;
}

#rules_container {
    width: 100%;
    margin: 5px 0;
}

#rules_container > iframe {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 0.4em;
}